<div class="row mt-5 d-flex justify-content-center">
    <div class="col-6">
        <div class="card mb-3">
            <h3 class="card-header">Configura tu tarjeta de Credito</h3>
            <div class="card-body">
                <p class="mb-1 mt-2">Ingrese su nombre:</p>
                <input type="text" class="form-control">
                <p class="mb-1 mt-2">Ingrese su apellido:</p>
                <input type="text" class="form-control">
                <p class="mb-1 mt-2">Numero de Tarjeta:</p>
                <input type="text" class="form-control">
                <p class="mb-1 mt-2">Fecha de Vencimiento (MM/AA):</p>
                <input type="text" class="form-control">
                <p class="mb-1 mt-2">Codigo de Seguridad (CVV):</p>
                <input type="text" class="form-control">
                <p class="text-center text-info h5">Al hacer click en el boton "Finalizar Compra" acepta nuestros terminos y condiciones</p>
            </div>

            <div class="card-footer text-muted">    
                <button type="button" class="btn btn-info w-100" (click)="endBuy()">Finalizar Compra</button>
            </div>
          </div>
    </div>
</div>