<div class="row mt-5 d-flex justify-content-center">
    <div class="col-6">
        <div class="card mb-3">
            <h3 class="card-header">Configura tu tarjeta de Credito</h3>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p class="mb-1 mt-2">Ingrese su nombre:</p>
                        <input type="text" class="form-control" [(ngModel)]="firstName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-1 mt-2">Ingrese su apellido:</p>
                        <input type="text" class="form-control" [(ngModel)]="lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-1 mt-2">Numero de Tarjeta:</p>
                <input type="text" class="form-control" [(ngModel)]="cardNumber">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="mb-1 mt-2">Mes de Vencimiento (MM):</p>
                        <input type="text" class="form-control" [(ngModel)]="cardMonth">
                    </div>
                    <div class="col-6">
                        <p class="mb-1 mt-2">Año de Vencimiento (AAAA):</p>
                        <input type="text" class="form-control" [(ngModel)]="cardYear">
                    </div>
                </div>
               <div class="row">
                   <div class="col-12">
                    <p class="mb-1 mt-2">Codigo de Seguridad (CVV):</p>
                    <input type="text" class="form-control" [(ngModel)]="cardCode">
                   </div>
               </div>
                <p class="text-center text-info h5">Al hacer click en el boton "Finalizar Compra" acepta nuestros terminos y condiciones</p>
            </div>

            <div class="card-footer text-muted">    
                <button type="button" class="btn btn-info w-100" (click)="endBuy()">Finalizar Compra</button>
            </div>
          </div>
    </div>
</div>